    <script src="http://localhost:35729/livereload.js"></script>


<div class="columns is-centered">
  <div class="column is-6 has-text-centered">
    <h1 class="title">{{title }}</h1>
    <p>Welcome to {{title }}</p>
  </div>
  <div class="column is-6 has-text-centered">
    <h1 class="title">{{title }}</h1>
      <p>Welcome to {{title }}</p>
      <button class="my-5 button is-primary">{{title}}</button>
  </div>
</div>